/* ===========================
   ESTILOS GENERALES
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:url("../static/fondo_entrenamiento.PNG") center center/cover no-repeat;
    min-height:100vh;
}

/* ===========================
   CONTENEDOR
=========================== */

.fondo{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.contenedor{

    width:660px;

    background:#111111;

    border:1px solid #7AAC05;

    text-align:center;

    padding:25px;

}

/* ===========================
   TITULOS
=========================== */

h1{

    margin-bottom:10px;

    font-size:28px;

}

.verde{

    color:#7AAC05;

}

.blanco{

    color:white;

}

.emoji{

    color:gold;

}

h2{

    color:white;

    margin-bottom:20px;

    font-size:20px;

}

/* ===========================
   IMAGEN
=========================== */

.imagen{

    width:100%;

    height: 410px;

    border:2px solid #7AAC05;

    display:flex;

    justify-content:center;

    align-items:center;

    overflow:hidden;

}

.imagen img{

    width:100%;

    height:100%;

    object-fit:cover;

}

/* ===========================
   BOTONES
=========================== */

.botones{

    margin-top:40px;

    display:flex;

    justify-content:center;

    gap:20px;

}

.botones button{

    padding:12px 20px;

    border:none;

    border-radius:6px;

    cursor:pointer;

    background:#111111;

    color:#7AAC1D;

    border:1px solid #7AAC1D;

    font-size:15px;

    transition:.3s;

}

.botones button:hover{

    background:#7AAC1D;

    color:black;

}